@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-primaria: #e49dbe;
    --cor-secundaria: #8e5091;
    --cor-terciaria: #f5427b;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
    background: var(--cor-primaria);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2%;
}

.cabecalho img {    
    max-width: 120px;
    max-height: 48px;
    width: auto;
    height: auto;
    margin-top: 40px;
}

.conteudo-entrada {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 4%;
}

.conteudo-entrada .entrada {
    width: 400px;
    height: 330px;
}

#texto-entrada {
    width: 680px;
    height: 48px;
    font-size: 32px;
    color: var(--cor-secundaria);
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 10px;
    text-transform: lowercase;
    padding: 10px;
    outline: 0;
    resize: none;
    overflow: hidden;
}

.conteudo-entrada p {
    display: flex;
    flex: 1;
    align-self: flex-end;
}

#resultado {
    font-weight: 500;
    display: flex;
    flex-direction: column;
    border: 3px solid var(--cor-terciaria);
    border-radius: 32px;
    background-color: #ffffff;
    width: 400px;
    height: 944px;
    margin-right: 40px;
}

#resultado h2 {
    text-align: center;
    font-size: 24px;
    color: var(--cor-terciaria);

}

#resultado span {
    font-size: 12px;
    text-align: center;
    color: var(--cor-terciaria);
}

#resultado img {
    max-width: 336px;
    max-height: 304px;
    width: auto;
    height: auto;
    margin-top: 243px;
    margin-left: 32px;
    align-items: center;
}
 
.conteudo-botao button {
    border: 2px solid var(--cor-secundaria);
    border-radius: 24px;
    text-decoration: none;
    color: var(--cor-secundaria);
    width: 328px;
    height: 67px;
    margin-left: 4%;
    cursor: pointer;
    font-size: 16px;
}

.botao-copiar {
    border: 2px solid var(--cor-secundaria);
    border-radius: 24px;
    text-decoration: none;
    color: var(--cor-terciaria);
    width: 328px;
    height: 67px;
    margin-left: 10%;
    margin-bottom: 10%;
    cursor: pointer;
    font-size: 16px;
}

.conteudo-botao button:hover {
    border: 2px solid var(--cor-terciaria);
    transition: 0.5s all;
    color: var(--cor-secundaria);
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 15px;
    background-color: var(--cor-primaria);
    color: var(--cor-terciaria);
}

.rodape p { 
    font-size: 16px;
}
